@import "../components/button";
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 450px;
  padding: 30px;
}

.dates {
	padding-top: 20px;
}

#price {
	padding-top: 15px;
}
