<div class="results">
  <h3> Some successful projects </h3>
  <div class="cards">
    <div class="card" style="background-image:">
      <p>Beautiful garden in the center of Waterloo, with a great exposition to the sun</p>
      <div class="avatar">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        <p><small>Sébastien Dupont</small></p>
      </div>
    </div>
        <div class="card" style="background-image:">
      <p>Beautiful garden in the center of Waterloo, with a great exposition to the sun</p>
      <div class="avatar">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        <p><small>Arthur Lacourt</small></p>
      </div>
    </div>
        <div class="card" style="background-image:">
      <p>Beautiful garden in the center of Waterloo, with a great exposition to the sun</p>
      <div class="avatar">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
        <p><small>Sébastien Dupont</small></p>
      </div>
    </div>
  </div>
</div>
