<div class="everything">
    <h2 class="text-center">How it works</h2>
    <div class="explanations">

      <div class="explanation">
        <img src="" alt="">
        <h4>Find a garden</h4>
        <p>We have lots of gardens in our database, seriously you guys, have a scroll. And you kinda need a garden for your solar panels so...</p>
      </div>

      <div class="explanation">
        <img src="" alt="">
        <h4>Pay a small fee</h4>
        <p>And you'll make the gardener happy cause you pay him and he'll be able to spend it cause he's a victim of consumerism</p>
      </div>

      <div class="explanation">
        <img src="" alt="">
        <h4>Greener world</h4>
        <p>Thanks to you cause you're like contributing to renewable energy and that's like totally important right</p>
      </div>

    </div>
  </div>
