<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    ©2019 Solar Garden, Inc. All rights reserved.
  </div>
  <div class="footer-urls">
    <a href="#">Contact us</a>
    <a href="#">Privacy policy</a>
    <a href="#">Conditions</a>
  </div>
</div>
