<div class="everything-partners">
    <h1>They already trust us</h1>
    <div class="explanations-partners">

      <div class="explanation">
        <%= image_tag "lampiris.jpeg", class: "img" %>
      </div>

      <div class="explanation">
        <%= image_tag "eneco.jpeg", class: "img" %>
      </div>


      <div class="explanation">
        <%= image_tag "engie.jpeg", class: "img" %>
      </div>

      <div class="explanation">
        <%= image_tag "mega.jpeg", class: "img" %>
      </div>

    </div>
  </div>
