<div class="searchbar">
  <%= simple_form_for :search, url: gardens_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <div class="inputs">
           <%= text_field_tag :search_query,
    params[:search_query],
    class: "form-control string required",
    placeholder: "Where"
    %>

        <select class="form-control string required" name="category" id="search_query">
          <option value="">How much m²</option>
          <option value="small">Under 100 m²</option>
          <option value="medium">Between 100 m² and 200 m²</option>
          <option value="large">Between 200 m² and 500 m²</option>
          <option value="extar large">Over 500 m²</option>
          <option value="">No preference</option>
        </select>
      </div>
      <br>
      <button type="submit" class='button'>
        <%= link_to 'Search', gardens_path  %>
      </button>
    </div>


  <% end %>
</div>
