<div class="searchbar">
  <%= simple_form_for :search, url: gardens_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <div class="inputs">
        <%= text_field_tag :search_query,
          params[:search_query],
          class: "form-control string required",
          placeholder: "Where"
        %>
        <select class="form-control string required" name="duration" id="search_query">
          <option value="">How much sq²</option>
          <option value="small">Under 100 sq²</option>
          <option value="medium">Between 100 sq² and 200 sq²</option>
          <option value="large">Between 200 sq² and 500 sq²</option>
          <option value="extar large">Over 500 sq²</option>
          <option value="">No preference</option>
        </select>
      </div>
      <br>
      <button class='button'>
        <%= link_to 'Search', gardens_path  %>
      </button>
    </div>


  <% end %>
</div>
