<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <div class="inputs">
    <input class="form-control string required" type="text" name="place" id="search_query" placeholder="Where?" />
    <input class="form-control string required" type="text" name="duration" id="search_query" placeholder="How many square meters?" />
    <button class='button'>
      <%= link_to 'Search', gardens_path  %>
    </button>
  </div>
  </div>
<% end %>
