<div class="banner">
  <div class="banner-items">
    <h1>Solar Garden</h1>
    <h2>Find a garden to install your solar panels</h2>
    <div class="searchbar">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>

<%= render "shared/explanation" %>
