<div class="banner">
  <div class="container">
    <h1>Solar Garden</h1>
    <p>Host your garden, be part of the energy transition</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

