<div class="banner">
  <div class="container">
    <h1>Solar Garden</h1>
    <p>Host your garden, be part of the energy transition</p>
    <button class='button'>
      <%= link_to 'Add your garden', new_garden_path %>
    </button>
  </div>
</div>

<%= render "shared/searchbar" %>

<%= render "shared/explanation" %>
