.button {
  padding: 8px 24px;
  border-radius: 4px;
  background: #217756;
  transition: background 0.3s ease;
  color: white !important;
}

.button a {
  color: white !important;
  text-decoration: none;
}

.button:hover {
  background: #154f38;
  color: white;
}
