.img {
  // width: 10px;
  height: 70px;
}

.everything {
  background: white;
  width: 100%;
  padding: 45px;
}

.explanation p {
  opacity: .5;
}

.explanation h4 {
  color: #217756;
  margin-top: 20px;
}

.explanation {
  width: 400px;
  border-radius: 3px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.explanations {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
